#nav-upnav {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/airstream/upnav/T1/nav_merged_1x._CB472725852_.jpg);
  background-color: #f6f6f6;
  text-align: left;
  background-position: top left;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 1920px;
  min-width: 1000px;
}
